
#critpower {
    margin-top: 10px;
}

#critpower .group {
    padding-bottom: 0;
}

#critpower table {
    margin: 0;
}

#critpower td {
    border: 0;
    padding: 4px 0 4px 20px;
}

#critpower tr:nth-child(odd) {
    background: #fafafa;
}

.activity-stats .secondary-stats.inline-stats.ses-stats {
    border: 2px solid #fc4c02;
    border-left: 0;
    border-right: 0;
    background: #fff;
}
